@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: Raspoutine;
	src: url("RaspoutineClassic_TB.ttf");
}
body {
	margin: auto;
}
.current-body {
	background-color: #CCC;
	margin: auto;
}
.container {
	margin-top: -10px;
	width: 950px;
	background: white;
	padding-bottom: 20px;
	height: 1100px;
	margin: auto;
	-webkit-box-shadow: 0px 0px 9px 1px #999;
	-moz-box-shadow: 0px 0px 9px 1px #999;
	box-shadow: 0px 0px 9px 1px #999;
	border: 1.5px #999 solid inset;
}
.content {
	width: 100%;
	margin-top:0;
	
}
header {
	-webkit-box-shadow: inset -0px -1px 5px 1px #000;
	-moz-box-shadow: inset -0px -1px 5px 1px #000;
	box-shadow: inset -0px -1px 5px 1px #000;
	height: 60px;
}
footer {
	-webkit-box-shadow: inset -0px 1px 5px 1px #000;
	-moz-box-shadow: inset -0px 1px 5px 1px #000;
	box-shadow: inset -0px 1px 5px 1px #000;
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear: both;
}
form {
	margin: auto;
}
fieldset {
	border: none;
}
h3 {
	text-align: center;
	text-shadow: #666;
}
.menu-main {
	width: 100%;
	
}
nav {
	height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.credentials {
	margin-top: 10px;
	margin-right: 20px;
	font-size: 12px;
	width: 10%;
}
.credentials a {
	text-decoration: none;
	color: #333;
	font: Arial, "Helvetica", sans-serif;
	font-size: 15px;
}
nav a {
	font-size: 24px;
	font-family: Raspoutine;
	text-decoration: none;
	padding: 5px;
	color: #000;
	margin-right: 10px;
	-webkit-transition-property: color, background, border-bottom;
	-webkit-transition-duration: 0.75s, 1s, 0.25s;
	-webkit-transition-timing-function: linear, ease-in, ease-in;
	-moz-transition-property: color, background, border-bottom;
	-moz-transition-duration: 0.75s, 1s, 0.25s;
	-moz-transition-timing-function: linear, ease-in, ease-in;
	-o-transition-property: color, background, border-bottom;
	-o-transition-duration: 0.75s, 1s, 0.25s;
	-o-transition-timing-function: linear, ease-in, ease-in;
	transition-property: color, background, border-bottom;
	transition-duration: 0.75s, 1s, 0.25s;
	transition-timing-function: linear, ease-in, ease-in;
}
nav a:hover, a.current {
	color: #039;
	border-bottom: solid 3px #039;
}
ul, li {
	list-style: none;
	right: 0;
	padding: 0 0 0 10px;
}
ul {
	text-align: right;
}
ul li {
	display: block;
	margin-right: .75em;
}
ul li.last {
	margin-right: 0;
}
#search {
	margin-top: 10px;
}
.articles {
	width: 100%;
	margin-top: 30px;
}
*/

* {
	margin: 0;
	padding: 0;
}
/* must declare 0 margins on everything, also for main layout components use padding, not
 vertical margins (top and bottom) to add spacing, else those margins get added to total height
 and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
}
#main {
	overflow: auto;
	padding-bottom: 180px;
}/* must be same height as the footer */
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}
/* IMPORTANT

 You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

 <!--[if !IE 7]>
 <style type="text/css">
 #wrap {display:table;height:100%}
 </style>
 <![endif]-->

 */

/* Let's get this party started */
.form-container::-webkit-scrollbar {
	width: 8px;
	padding-right: 5px;
}
/* Track */
.form-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: FFF;
}
/* Handle */
.form-container::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #666;
	-webkit-box-shadow: inset 0 0 6px #000;
}
.form-container::-webkit-scrollbar-thumb:window-inactive {
	background: #999;
}